jupyter
jupyterlab
ipykernel
ipywidgets
notebook
ipykernel
ipython
numpy 
pandas
matplotlib
seaborn
scipy
xgboost
scikit-learn
scikit-optimize
statsmodels
yfinance
tables
backtrader[plotting]
pyfolio-reloaded
pandas_datareader
vectorbt[full]
TA-Lib
pykalman
PyWavelets